html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Reset added above
helps to get rid of inconsistencies between browsers default stylings */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

* {
    font-family: 'Helvetica';
    
}
/*****WHOLE PAGE*****/
.container{
    width: 100%;
    height: 100vh;
    display: flex;  
    background-image: url("Background-blue.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
/*****Left Side*****/
.left{
    flex: 50%;
}

/*****Right Side*****/
.right{
    flex: 50%;
}

/**********************/

.center {
    width: 100%;
    margin: auto;
    text-align: center;
}

body, html{
    height:100%;
}


h1 {
    font-style: italic;
    font-size: 200px;
}

h2 {
    font-size: 50px;
    color: black;
    /* border: 2px solid white; */
}

#welcome-tags {
    width: 50%;
}

#form-container{
    width: 50%;
}


h3{
    font-size: 50px;
    color: black;
}

input{
    width: 40%;
    padding: 12px 20px;
    margin: 2.5%;
    opacity: 0.3;
    font-size: 25px;
    color: black;

}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: white;
}


#signup-error {
    animation: fadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding-top: 20px;
}

/* Modal styles */
.modal {
    position: fixed;
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 25%;
    border-radius: 10px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #signup-form input {
    border: 1px solid black;
    width: 80%;
  }

  span.close {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }



.modal button {
    width: 50%;
    margin: auto;
    padding: 10px;
}


.button{
font-weight: 0;
font-size: 33px;
color: Black;
background: linear-gradient(90deg, #79ead7 10%, #5ed6f7 100%);
padding: 10px 60px;
border: none;
box-shadow: none;
border-radius: 10px;
transition : 779ms;
transform: translateY(0);
flex-direction: row;
align-items: center;
cursor: pointer;
}

.button:hover{
transition : 779ms;
padding: 10px 80px;
transform : translateY(-0px);
background: linear-gradient(90deg, #79ead7 10%, #5ed6f7 100%);
color: #000000;
border: none;
}
