body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100vh;
  background-image: url("./images/Background3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}